@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Roots */
:root {
    --fonts: 'Poppins', Arial, Helvetica, sans-serif;
    --nav-height: 56px;
}

/* Body */
body {
    font-family: var(--fonts);
    background: #f8f8f8;
    margin: 0;
    color: #252525;
}

/* Text Styles */
h1 {
    color: #fff;
    margin: 0;
}

/* Navigation */

    /* Nav Containers */
    nav {
        background: #25252580;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;

        width: calc(100vw - 64px);
        height: var(--nav-height);
        padding: 0 32px;

        z-index: 999;
        backdrop-filter: blur(16px) saturate(120%);
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }

    nav li {
        color: #fff;
        font-family: var(--fonts);
        font-weight: 500;
        list-style: none;

        border-radius: 16px;
        padding: 4px 12px;
        margin-right: 8px;

        transition: 400ms ease-out;
    }

    nav li:hover {
        cursor: pointer;
        background: #ffffff20;
    }

    /* On-Screen Navigation */
    .on-screen-nav {
        position: fixed;
        display: none;
        opacity: 0%;

        background: #25252580;

        width: 100vw;
        height: calc(100vh - var(--nav-height));
        margin-top: var(--nav-height);

        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;

        z-index: 999;
        backdrop-filter: blur(16px) saturate(120%);
        transition: 250ms ease-in;
        transition-property: opacity;
    }

    .on-screen-nav.active {
        display: flex;
        opacity: 100%;
        margin-left: 0;
    }

    .on-screen-nav li {
        color: #ffffff50;
        font-family: var(--fonts);
        font-weight: 500;
        font-size: 3rem;
        list-style: none;

        border-radius: 48px;
        padding: 4px 24px;
        margin-bottom: 16px;

        transition: 400ms ease-out;
    }

    .on-screen-nav li:hover {
        cursor: pointer;
        background: #ffffff20;
    }

    .on-screen-nav p {
        position: fixed;
        bottom: 32px;
        color: #ffffff50;
        font-weight: 600;
        font-size: 0.8rem;
    }

    /* Nav Header */
    .nav-logo  {
        width: 40px;
        height: 40px;
    }

    nav .nav-header h1 {
        display: none;
    }

    /* Menu Button */
    .nav-menu {
        width: 24px;
        height: 24px;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .nav-menu img {
        width: 24px;
        height: 24px;
    }

    /* Nav Other */
    nav a, .on-screen-nav a {
        color: #fff;
        text-decoration: none;
    }

/* Header */
header {
    background-color: #fff;
    height: 80vh;
    padding: 32px 0;
    padding-top: 48px;
    max-height: 800px;
    overflow-x: hidden;
}

    /* Header Content */
    header .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        height: 100%;
    }

    header h1 {
        color: transparent;

        font-size: 20vw;
        padding-top: 64px;
        line-height: 10vw;
        z-index: 10001;
    }

    /* Cursor Cutout */
    .cutout-container {
        background-color: #f8f8f8;
        height: 100%;
        aspect-ratio: 40/22;
        overflow: hidden;
        position: relative;
    }

    .cutout-img {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 100;

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
    }

    .header_cursor {
        border-radius: 100%;
        box-shadow: 0 0 32px 32px #aed8ff, 0 0 68px 68px #c6edff;
        background-color: #aed8ff;

        position: absolute;

        width: 25px;
        height: 25px;

        z-index: 80;
        transition: 200ms;
    }

/* Notifications */
.notifications, .css-container {
    display: block;
    position: fixed;
    bottom: 0;

    width: auto;
    margin-bottom: 32px;

    height: auto;
    z-index: 200;
}

.notifications {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    left: 50%;
    transform: translateX(-50%);
}

.notify-container {
    background-color: #25252550;
    border-radius: 16px;
    backdrop-filter: blur(16px) saturate(120%);

    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 8px 16px 8px 12px;
    width: auto;
    transition: 350ms ease-out;

    opacity: 0%;
    transform: translateY(16px);
    display: flex;
}

    .notify-container:hover {
        box-shadow: 0 0 16px #25252520;
        cursor: pointer;
    }

    .css-container .notify-container:hover {
        cursor: default;
    }

    .notify-container.active {
        opacity: 100%;
        transform: translateY(0px);
        /* display: flex; */
    }

    /* Notification Content */
    .notify-container img {
        aspect-ratio: 1/1;
        height: 24px;
        margin-right: 8px;
    }

    .notify-container h6, .notify-container p {
        color: #fff;
        margin: 0;
        line-height: 16px;
    }

    .notify-container p {
        font-size: 0.8rem;
        margin-top: -4px;
    }

/* Full-Screen Image */
.fs-container {
    border-top: solid 8px #f8f8f8;
    border-bottom: solid 8px #f8f8f8;

    width: 100vw;
    height: calc(100vh - 64px);
}

    /* Full-Screen Content */
    .fs-img img {
        position: absolute;

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        
        transition: 250ms ease-out;
    }

    .fs-details {
        width: 100%;
        height: 100%;

        color: #fff;

        z-index: 5;

        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        transition: 250ms ease-out;
    }

    /* Full Screen Text Styles */
    .fs-details h1 {
        font-size: 6rem;
        text-align: center;
        padding: 0 16px;
        line-height: 6rem;
        margin-bottom: -16px;
    }

    .fs-details p {
        font-size: 32px;
    }

    /* Effects */


/* CSS Changer */
.css-container {
    justify-content: space-around;
    margin-left: 16px;
    max-width: 250px;
}

.css-container p {
    margin-top: 0;
}

/* Switch */
.switch {
    z-index: 100000;
    display: inline-block;
    position: relative;
    width: 62px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    border-radius: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 24px;
    background-color: #ccc;
    transition: 250ms;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    top: 4px;
    border-radius: 100%;

    background-color: white;
    transition: 400ms;
}

.switch input:checked + .slider {
    background-color: #54a8ff;
}

.switch input:checked + .slider:before {
    transform: translateX(20px);
}


/* Responsive */
@media only screen and (max-width: 600px) {

    nav li {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

}

@media only screen and (min-width: 600px) {
    .on-screen-nav.active {
        display: none;
    }
}

/* Hidden objects (from default structure) */
#default-header-title, .sidebar {
    display: none;
}