body {
    background: rgb(207, 228, 255);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(51, 124, 184);
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 16px;
    max-width: 800px;
}


/* Text Styles */


h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

/* Navigation */
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(237, 244, 250);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

/* Alternative Styles - To remove pieces used in 'alternative-style.css' */
.fs-container, span.notifications, .on-screen-nav, nav img, .header_cursor, header, #manipulated-header {
    display: none;
}

/* Switching Between Stylesheets */

/* CSS Changer */
.css-container {
    display: flex;
    position: fixed;
    bottom: 16px;

    background: rgb(51, 124, 184);
    padding: 16px;
    color: white;

    flex-direction: column;
    justify-content: space-around;
    margin-left: 16px;
    max-width: 250px;

    transition: 400ms ease-out;
}

.notify-container {
    display: flex;
    justify-content: column;
    align-items: center;
    padding-right: 8px;
}

.css-container h6, .css-container p {
    margin: 2px;
}

.css-container p {
    margin-top: 0;
}

/* Switch */
.switch {
    z-index: 100000;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    border-radius: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 24px;
    background-color: #ccc;
    transition: 250ms;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    top: 4px;
    border-radius: 100%;

    background-color: white;
    transition: 400ms;
}

.switch input:checked + .slider {
    background-color: #54a8ff;
}

.switch input:checked + .slider:before {
    transform: translateX(20px);
}