.square {
  width: 20px;
  height: 20px;
  position: absolute;
}

body > div {
  position: relative;
}

#button-box {
  position: relative;
  top: 350px;
}

button {
  color: #fff;
  width: auto;
  padding: .8em 1.2em;
  margin-left: 12px;
  border: none;
  border-radius: 12px;
}

#apply {
  background: green;
}

#reset {
  background: red;
}
