@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Lexend+Deca:wght@100..900&display=swap');

/* Variables */
:root {
  --black: #252525;
  --white: #f8f8f8;
  --board-size: 400px;
  --icon-size: 40px;
}

/* Essentials */
body {
  background-color: #a2daa2;
  font-size: 12px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

/* Text Styles */
h1 {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  margin: 0;

  width: auto;
  /* border: 4px solid black; */
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2rem;
}

/* Containers */
main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0; 
  top:0; 
  
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

#board {
  position: relative;
  width: var(--board-size);
  height: var(--board-size);
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(149, 251, 195);
}

  #board::before {
    content: "";
    position: absolute;
    width: var(--board-size);
    height: var(--board-size);

    background-image: url(assets/misc/BackgroundTiles.png);
    background-size: 80px;
    image-rendering: pixelated;
    opacity: 25%;

  }

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  position: absolute;
  user-select: none;
  background-image: url(assets/misc/Apple.png);
  image-rendering: pixelated;
  background-size: var(--icon-size);
  background-color: transparent !important;
}

.snake {
  background-color: transparent;
  border: 0 !important;
  inset: none;
  z-index: 2;
}

  .snake-texture {
    inset: none;
    border: 0 !important;
    image-rendering: pixelated;
    background-size: cover;
    width: var(--icon-size);
    height: var(--icon-size);
  }

  .flip-horizontal {
    transform: scaleX(-1);
  }

#snake-head {
  background-color: transparent;
}

.apple {
  background-color: red;
  z-index: 1;
}